
  
html, body {
    width: 100% !important;
    height: 100% !important;
    font-size: 10px;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

*  {
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    background: none;
    box-sizing: border-box;
}

canvas {
    cursor: pointer !important;
    width: 100% !important;
    height: 100% !important;
    image-rendering: pixelated;
    position: absolute;
    top: 0;
    left: 0;
}

#app {
    aspect-ratio: 16 / 9;
    margin: auto;
    width: 100%;
    height: auto;
}

/* If screen for device has aspect ratio of 16/9 or bigger the height will take up the full height of the screen 
and the widths will be automatically sized while filled with black */
@media screen and (min-aspect-ratio: 16/9){
    #app {
        width: auto;
        height: 100%;
    }
}