
  
html, body {
    width: 100% !important;
    height: 100% !important;
    font-size: 10px;
}

#app {
    height: 100%;
    width: auto;
    aspect-ratio: 16/9;
}

*  {
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    background: none;
    box-sizing: border-box;
}

canvas {
    cursor: pointer !important;
    width: 100% !important;
    height: 100% !important;
    image-rendering: pixelated;
    position: absolute;
    top: 0;
    left: 0;
}