
  
html, body {
    width: 100% !important;
    height: 100% !important;
    font-size: 10px;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

*  {
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    background: none;
    box-sizing: border-box;
}

canvas {
    cursor: pointer !important;
    width: 100% !important;
    height: 100% !important;
    image-rendering: pixelated;
    position: absolute;
    top: 0;
    left: 0;
}

/*Keeping the app in the middle of the screen at screen height and fills the background with black if screen isn't 16/9*/
#art-container {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    position: relative;
    margin: auto;
}

@media screen and (min-aspect-ratio: 16/9){
    #art-container {
        width: auto; 
        height: 100%;
            margin: auto;
    }
}