

html, body {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

canvas {
    margin-top: 0px !important;
    width: 100% !important;
    cursor: pointer!important;
}

