* {
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    background: none;
    box-sizing: border-box;
  }

html, body {
    width: 100% !important;
    height: 100% !important;
}

body  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    cursor: pointer !important;
    width: 100% !important;
    height: 100% !important;
}


  
